/*
   SHARE SECTION & COMPONENTS
*/
.share__section {
   position: relative;
   width: 100%;
}
   /*
      USER INFORMATIONS CONTAINER
   */
   .user__container {
      display: flex;
      gap: 1em;
      align-items: center;
      background-color: var(--white);
      padding: 2rem;
      border-radius: 0 0 1rem 1rem;
   }
   /*
      USER AVATAR IMG
   */
   .user__img {
      width: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
   }
   /*
      USER INFORMATIONS
   */
   .user-informations__container {
      flex-grow: 1;
   }
   .user-informations {
      font-weight: 700;
      color: var(--desaturated-dark-blue);
      padding: .2rem 0; 
   }
   .user-date-informations {
      padding: .2rem 0;
   }
   /*
      SHARE ICON CONTAINER
   */
   .share-icon__container {
      background-color: var(--light-grayish-blue);
      padding: .889rem;
      border-radius: 50%;
      cursor: pointer;
      border: none;
   }
   .share-icon__container:hover {
      background-color: var(--grayish-blue);
   }
   .share-icon__container:hover > svg > path {
      fill: white;
   }
   /*
      POP-UP SOCIALS CONTAINER
   */
   .share__container {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      visibility: hidden;
      gap: 1em;
      align-items: center;
      background-color: var(--very-dark-grayish-blue);
      padding: 2rem;
      border-radius: 0 0 1rem 1rem;
      z-index: -1;
   }
   /*
      POP-UP SHARE TEXT
   */
   .share__text{
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .3rem;
      padding: 0 .5em;
   }
   /*
      POP-UP SOCIALS ICONS
   */
   .socials__container {
      flex-grow: 1;
   }
   .socials__container i {
      padding: 0 .2em;
      color: var(--white);
      cursor: pointer;
   }
   .socials__container i:hover {
      color: var(--light-grayish-blue);
   }
   /*
      POP-UP SHARE ICON CONTAINER
   */
   .pop-up-share-icon__container {
      padding: .889rem;
      border-radius: 50%;
      background-color: var(--grayish-blue);
      cursor: pointer;
      border: none;
   }
   .pop-up-share-icon__container:hover {
      background-color: var(--light-grayish-blue);
   }
   .pop-up-share-icon__container:hover > svg > path {
      fill: #6E8098;
   }

.overview {
   visibility: visible;
   z-index: 1;
}

@media (min-width: 40rem) {
   .share__container {
      width: max-content;
      border-radius: 1rem;
      top: -5rem;
      left: 64.5%;
   }
   .pop-up-share-icon__container {
      display:none;
   }
   .share__container::before {
      content: "";
      position: absolute;
      bottom: -29px;
      left: 50%;
      transform: translateX(-50%);
      border-style: solid;
      border-width: 15px 15px 15px 15px;
      border-color: var(--very-dark-grayish-blue) transparent transparent transparent;
    }
}

